<div id="loginPage">

  <div id="formcontainer">
    <p>SIGN UP</p>
    <!-- <div id="sociallogin">
      <div id="google">
        <i class="fa fa-google" aria-hidden="true"></i>
      </div>
      <div id="twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
    </div> -->
    <!-- <p id="or">OR</p> -->
    <div style="text-align: center;margin-top:70px;">
      <form>

        <div id="email">
          <input type="text" placeholder="Enter email">
        </div>
        <div id="password">
          <input type="password" placeholder="Enter password">
        </div>
        <a id="createaccount"> Login Here </a>
        <button id="submit">Signup</button>

      </form>
    </div>
  </div>