#profilePage{
    height: 100%;
    width: 100%;
    background: #ff9966;  
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); 
    background: linear-gradient(to right, #ff5e62, #ff9966);
    position: relative;
}

#logout{
    position: absolute;
    top: 25px;
    right: 15px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
}

#username{
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px;
}

#profilediv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 400px;
    border: 2px solid #FEB5AF;
    border-radius: 5px;
}

#personalInfo{
    height: 200px;
    width: 100%;
    border-bottom: 2px solid #FEB5AF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}





#menu{
   position: absolute;
    top: 25px;
    left: 15px; 
}

#logo{
    position: absolute;
    top: 27px;
    left: 105px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
}

#profilepic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}