<div id="loginPage">

<div id="formcontainer">
  <p >LOGIN</p>
  <div id="sociallogin">
    <div id="google" (click)="googleLogin()">
      <i class="fa fa-google" aria-hidden="true"></i>
    </div>
    <div id="twitter" (click)="twitterLogin()">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>
  </div>
  <p id="or">OR</p>
  <div style="text-align: center">
  <form>
   
      <div id="email">
        <input type="text" placeholder="Enter email">
      </div>
      <div id="password">
        <input type="password" placeholder="Enter password">
      </div>
      <a id="createaccount"> Create an account </a>
      <button id="submit">Login</button>
    
  </form>
  </div>
</div>
  
</div>
